[submodule "src/Autonomy"]
	path = src/Autonomy
	url = https://github.com/kranzowe/Autonomy.git
[submodule "src/Estimation"]
	path = src/Estimation
	url = https://github.com/kranzowe/Estimation.git
[submodule "src/Controls"]
	path = src/Controls
	url = https://github.com/kranzowe/Controls.git
[submodule "src/Interfaces"]
	path = src/Interfaces
	url = https://github.com/kranzowe/Interfaces.git
